<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/booker.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let booker of prods) { %>
                            <article class="card booker-item">
                                <header class="card__header">
                                    <h1 class="booker__title">
                                        <%= booker.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= booker.imageUrl %>" alt="<%= booker.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="booker__price">$
                                        <%= booker.price %>
                                    </h2>
                                    <p class="booker__description">
                                        <%= booker.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-booker/<%= booker.id %>?edit=true" class="btn">Edit</a>
                                    <form action="/admin/delete-booker" method="POST">
                                        <input type="hidden" value="<%= booker.id %>" name="bookerId">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No books Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>