<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/booker.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="booker-form" action="/admin/<% if (editing) { %>edit-booker<% } else { %>add-booker<% } %>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editing) { %><%= booker.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= booker.imageUrl %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= booker.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if (editing) { %><%= booker.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= booker.id %>" name="bookerId">
            <% } %>

            <button class="btn" type="submit"><% if (editing) { %>Update booker<% } else { %>Add booker<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>